.page-container {
  background: #E5E9F2;
  min-height: 90vh;
  padding: 3.6rem;
}

.signup-container {
  background: #FFF;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
}

.signup-information {
  width: 60%;
  margin: 0 auto 8rem auto;
}

hr {
  width: 75%;
}

.signup-information {
  margin-top: 2rem;
}

.signup-information button {
  width: 100%;
  padding: .75rem 2rem;
}

.signup-information button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .page-container {
    padding: 0;
  }

  .signup-container {
    width: 100%;
    margin: 4rem 0;
    padding: 0;
  }

  .signup-information {
    width: 100%;
    padding: .5rem;
  }
}
