<div class="upload-container">
    <h1 class="page-title">Upload Your Media</h1>

    <div class="upload-controls">
        <input type="file" class="form-control-file file-input" id="exampleFormControlFile1" (change)="onChange($event)">
        <a href="#" class="btn btn-success btn-lg active upload-button" role="button" aria-pressed="true">Upload</a>
    </div>

    <div class="container drop-container">
        <img class="upload-image" src="../../../assets/images/upload-cloud2.png" alt="Upload Cloud">
        <h3 class="upload-text">DRAG & DROP</h3>
    </div>
</div>
